/*Font family me permite cambiar el tipo de texto en toda la pagina */
body{
    font-family:Arial, Helvetica, sans-serif;



}
/*Comentarios de CSS*/


label{
    width:150px;
    display:inline-block;

}

table{
    width: 90%;
}


/*Se crea la caja*/

/*div{
    width:300px;
    height:200px;
    background-color:blue;  
}*/

/*Se crean estilos para la clase de HTML-Cuando es Class con (.) */

.estilo1{
    width:300px;
    height:200px;
    background-color: cornflowerblue;
    
}

/*Se puede dar estilo tambien a las cajas por ID con (#)*/
#caja1{
    width:300px;
    height:200px;
    /*background-color:cadetblue;*/
}

/*Estilo de cala Header-Principal, se recomiento poner en % para que se adapte a cada tipo de disponitivo*/

.caja-header{
    width:100%;
    height:200px;
    /*background-color:deepskyblue;*/
}

#caja-logo{
    width: 50%;
    height: 150px;
   /*background-color:coral;*/
    /*Se requiere que caja logo este al izquierdo de la caja totulo con float se le da esta dirección*/
    float: left;
    position: relative;
}

#caja-logo img{
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
#caja-titulo{
    width: 50%;
    height: 150px;
    /*background-color:crimson;*/
    float: right;
    text-align: left;/*Centra el titulo, con left lo alinea a la izquierda*/
}    

#caja-titulo{
    line-height:110px; /*Esta propiedad permite centrar pero con piexles*/

}

#caja-menu{

    width: 50%;
    height: 50px;
    /*background-color:darkorchid;*/
    float: left;
    margin-left: 25%;
    margin-right: 25%;
    
}


/*Para alinear el menu de la tabla la propiedad display:inline-block convierte el menú en una sola linea horizontal*/

ul li{
    display:inline-block;
    width:20%;          /*Tamaño de cada boton*/
    height:40px;        /*Alto de los botones del menu*/
    background-color:coral;
    padding-top:15px;
}

/*Para cambiar el color de la letra del menu dentro de una tabla*/

ul li a{
    color:white;
    text-decoration:none; /*Con esta instruccion le quitamos la line debajo del texto*/

}


/*Otra forma de cambiar elcolor de la letra del menu es por Class*/
/*.menu1{

    color:crimson
}*/

/*Para crear un evento al pasar el cursor del mouse sobre un boton*/
/*Que accion quiere que se haga cuando el cursor este sobre el menu*/

ul li a:hover{ 
    color:crimson;
    text-decoration:underline;
    font-size:18px;
}




form{
    width: 50%;     
    /*background-color:aqua;*/
    text-align:left;
}


/*Como es una clase lo llamo con el .*/

.lable1{
width: 20%;

}

.input-form{
    width:70%;


}


.boton-formulario{
    width:49%;
    height:30px;
    background-color:#FF5733;   /*Color Botton*/
    color:#FFC300;              /*Color de letra*/
    border: none;
}


/*Crer un evento en el formulario al pasar el cursor*/
.boton-formulario:hover{
    color:#C70039;
    text-decoration:underline;
}

.tabla{
    width:70%;
    background-color:#fff;
    border:1px solid #000;
}

th{
    background-color:gainsboro;
    
}


/*Cuando la instruccion me cambia varias etiquetas se pueden poner asi con coma, */
td, th{
    border:none;

}

/*Parte final de las paginas Web FOOTER*/
/*footer{
    width: 100%;
    height:300px;
    background-color:#FFC300;
}*/

/*Estilos de las cajas del Footer*/

body{

    font-family: 'Libre Baskerville', serif;
}


/*Cajas al final */

#caja-principal{
    width:100%;
    height:230px;
    /*background-color:antiquewhite;*/
    /*font-family: 'Libre Baskerville', serif;*/
}

.caja-publicidad1{
    width:32%;
    height:230px;
    /*background-color:burlywood;*/
    float:left;
    margin-right:10px;
    border-width:1px;
    border-style:solid;
    border-color:black;

}

.caja-publicidad2{
    width:32%;
    height:230px;
    /*background-color:cornflowerblue;*/
    float:left;
    margin-right:10px;
    border-width:1px;
    border-style:solid;
    border-color:black;
}

.caja-publicidad3{
    width:32%;
    height:230px;
    /*background-color:tomato;*/
    float:left;
    margin-right:10px;
    border-width:1px;
    border-style:solid;
    border-color:black;
}


.caja-superior{
    width:100%;
    height:60px;
    /*background-color:blueviolet;*/
    float:left;

}

.caja-superior1{
    width:80%;
    height:60px;
    /*background-color:coral;*/
    float:left;
   
}

.caja-superior2{
    width:20%;
    height:60px;
    /*background-color:yellow;*/
    float:left;
    position:relative;  /*Para alinear el icono*/
    color:blueviolet;

}

/*Esto permite el ajuste del icono*/
.caja-superior span{
    position:absolute;
    left:70%;
    top:50%;
    transform: translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
}

.caja-media{
    width:100%;
    height:130px;
    /*background-color:darkblue;*/
    float:left;
    /*Para alinear el texto */
    text-align:center;
}

.caja-media1{
    width:50%;
    height:130px;
    /*background-color:aqua ;*/
    float:left;

}

.caja-media2{
    width:50%;
    height:130px;
   /* background-color:aquamarine ;*/
    float:left;
}
.caja-inferior{
    width:100%;
    height:40px;
    /*background-color:red;*/
    float:left;
    position: relative;
}

.boton-inferior{
    width:30%;
    height:30px;
    background-color:#FF5733;
    color:#fff;
    border: none;
}

/*Posiciones del boton de la caja inferior*/
.caja-inferior .boton-inferior{
    position:absolute;
    left:85%;
    top:65%;
    transform: translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);

}

/*Cajas de Footer*/

.caja1{
    width:33%;
    height:300px;
    background-color:brown;
    float:left;
}

.caja2{
    width:33%;
    height:300px;
    background-color:coral;
    float:left;
}

.caja3{
    width:33%;
    height:300px;
    background-color:cornflowerblue;
    float:left;
}

/*Se realizara Responsive Desing-Solo se relacionan los cambios, lo que permanece no se
debe relacionar. */

@media screen and (max-width: 640px){
    #caja-logo{
        width: 100%;/*Cuando es para celulares el 100%*/
        background-color:coral;
    }

    #caja-logo{
        left:50%;
    }

    #caja-titulo{
        width:100%;
        background-color:crimson;
        float: right;
        text-align: left;/*Centra el titulo, con left lo alinea a la izquierda*/
    }    
    

    #caja-menu{

        width: 100%;
        height:170px ;
        background-color:darkorchid;
        float: left;
        margin-left: 0%;
        margin-right: 0%;
        
    }

    ul li{
        width:100%;
        background-color:#C70039;
        color:#fff;
        padding-top:0px;
        margin-left:-30px;

        margin-bottom: 10px;

    }

    ul li a:hover{
        color:#000;
    }

    form{
    width:100%;
    text-align:left;

    }

    .input-form{
        width:100%;
    }

    .lable1{
        width:50%;
        background-color: #C70039;
        color: #fff;
    }

    .boton-formulario{
        width:100%;
        background-color: #C70039;
        color:#fff;
        margin-bottom:10px;
    }

    .boton-formulario:hover{
        color:#000;
    }
    .tabla{
        width:100%;
        font-size:11px;
    }

    th{
        background-color:gainsboro;
        font-size:11px;
    }

    td,th{
        border:none;
        font-size:11px ;
    }
}


/*Se realizara Responsive Desing-Solo se relacionan los cambios, lo que permanece no se
debe relacionar. */

@media screen and (max-width: 640px){

    #caja-principal{
        width:100%;
        height:720px;
    }

    .caja-publicidad1, .caja-publicidad2, .caja-publicidad3{

        width:100%;
        margin-bottom:10px;
    }
}
